.LabelButton {
  display: flex;
  align-items: center;
  border-radius: rem(0px);
  @include standard-animation;
  margin-bottom: 0;
  font-size: rem(16px);
  font-weight: 200;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  border: none;
  text-transform: capitalize;
  &:hover {
    opacity: 0.8;
  }

  &.edit {
    background: $label-edit-bg;
    color: $label-edit-color;
    border: rem(1px) solid $label-edit-bg;
  }

  &.success {
    background: $label-success-bg;
    color: $label-success-color;
    border: rem(1px) solid $label-success-bg;
  }

  &.info {
    background: $label-info-bg;
    color: $label-info-color;
    border: rem(1px) solid $label-info-bg;
  }

  &.danger {
    background: $label-danger-bg;
    color: $label-danger-color;
    border: rem(1px) solid $label-danger-bg;
  }

  &.warning {
    background: $label-warning-bg;
    color: $label-warning-color;
    border: rem(1px) solid $label-warning-bg;
  }
  .content_icon {
    background-color: #00000010;
    padding: rem(8px);
    width: rem(35px);

    .icon {
      font-size: rem(15px);
    }
  }
  .label {
    padding: rem(8px) rem(10px);
  }
}
