.Main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  .content {
    flex-grow: 1;
    display: flex;
    .sidebar {
      width: rem(220px);
    }
    .pages {
      flex: 1;
      display: flex;
      flex-direction: column;
      .page {
        padding: rem(10px);
        flex-grow: 1;
        overflow-y: auto;
        margin: rem(2px) 0;
        height: 0px;
        &::-webkit-scrollbar {
          width: rem(7px);
        }
        &::-webkit-scrollbar-track {
          background: $page-scrollbar-track;
        }
        &::-webkit-scrollbar-thumb {
          background: $page-scrollbar-thumb;
        }
      }
    }
  }
}
