.OutlineRoundButton {
  border-radius: rem(35px);
  padding: rem(8px) rem(20px);
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  margin-bottom: 0;
  font-size: rem(16px);
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  text-transform: capitalize;
  &.default {
    background: transparent;
    color: $label-default-color;
    border: rem(2px) solid black;
    &:hover {
      background: $label-default-bg-hover;
      border-color: $label-default-bg-hover;
      opacity: 0.8;
    }
  }

  &.primary {
    background: transparent;
    color: $label-primary-bg;
    border: rem(2px) solid $label-primary-bg;
    &:hover {
      background: $label-primary-bg;
      color: $label-primary-color;
    }
  }

  &.info {
    background: transparent;
    color: $label-info-bg;
    border: rem(2px) solid $label-info-bg;
    &:hover {
      background: $label-info-bg;
      color: $label-info-color;
    }
  }

  &.success {
    background: transparent;
    color: $label-success-bg;
    border: rem(2px) solid $label-success-bg;
    &:hover {
      background: $label-success-bg;
      color: $label-success-color;
    }
  }

  &.warning {
    background: transparent;
    color: $label-warning-bg;
    border: rem(2px) solid $label-warning-bg;
    &:hover {
      background: $label-warning-bg;
      color: $label-warning-color;
    }
  }

  &.danger {
    background: transparent;
    color: $label-danger-bg;
    border: rem(2px) solid $label-danger-bg;
    &:hover {
      background: $label-danger-bg;
      color: $label-danger-color;
    }
  }
}
