$primary-color: #00a5a8;
$window-bg: #fff;

$text-color: #848484;
$title-color: #333;

$background-color: #ecf0f5;
$box-background: #fff;

// labels color
$label-default-color: #262525;
$label-default-bg: #eaeaea;
$label-default-bg-hover: #e4e7ea;

$label-primary-color: #fff;
$label-primary-bg: #00a5a8;

$label-success-color: #fff;
$label-success-bg: #81c868;

$label-info-color: #fff;
$label-info-bg: #34d3eb;

$label-danger-color: #fff;
$label-danger-bg: #f05050;

$label-warning-color: #fff;
$label-warning-bg: #ffbd4a;
