.Header {
  width: 100%;
  height: $header-height;
  background-color: $primary-color;
  padding: 0 rem(18px);
  display: flex;
  align-items: center;
  gap: rem(20px);

  .hamburger {
    color: $white-color;
    font-size: rem(30px);
    cursor: pointer;
  }
}
