.SideMenu {
  width: 100%;
  background-color: $sidemenu-bg;
  height: calc(100vh - $header-height - $footer-height);
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: rem(7px);
  }
  &::-webkit-scrollbar-track {
    background: $sidemenu-scrollbar-track;
  }
  &::-webkit-scrollbar-thumb {
    background: $sidemenu-scrollbar-thumb;
  }
}
