.Footer {
  height: $footer-height;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: $white-color;
  @include default-window(0);
  p {
    margin: 0;
  }
}
